html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #abb2bf;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#root {
  height: 100%;
}
